html, body {
	margin: 0;
  padding: 0;
  overflow: hidden; 
  height: 100%;
  width: 100%;
}

#glCanvas {
	display: block;
	width: 100vw;
	height: 100vh;
	image-rendering: smooth; /* CSS3 */
	image-rendering: -moz-crisp-edges; /* Firefox */
}
/* The side navigation menu */
.sidenav {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	right: 0;
	background-color: #111; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px;
	transition: 1s;
}

/* The navigation menu links */
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
	color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
	position: absolute;
	top: -1.5%;
	right: 15px;
	font-size: 36px;
	margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
	transition: margin-right 0.5s;
	padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}
#tooltip {
	display: none;
}
/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	width: 100%;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 1s;
	 min-width: fit-content;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
#menuButton {
	transition: all 0.3s ease;
}
#quickadd {
	width: 80%;
	margin: 0 auto;
	display: block;
	padding: 15px;
	font-size: 1.2rem;
	background-color: #4a4a4a;
	color: white;
	border: 2px solid #363636;
	transition: all 0.3s ease;
}
#toggleGlowEffect {
	width: 50%;
	margin: 0 auto;
	position: absolute;
	bottom: 30%;
	left: 5%;
	display: block;
	padding: 5px;
	background-color: #444444;
	color: white;
	border: 2px solid #363636;
	transition: all 0.3s ease;
}
#menuContainer {
	padding: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	height: 100%;
}
#timeStepInput {
	transition: all 0.3s ease;
	
}
#graphBox {
	position: absolute;
	bottom:0;
	left: 10px;
	z-index: 1;
    width: 30vw;
    height: 20vw;
    background-color: rgba(255, 255, 255, 0.05);
	display: none;
}
#scichart-root {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
	display: none;
}
.tooltiptext {
    visibility: hidden;
    opacity: 0;
    transition: opacity 10s;
    background-color: black;
	padding-right: 50px 	;
    color: #949494;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
#timeStepWarning {
	 left: 20%;
	 text-align: center;
	 color: #b6b6b6;
}
#panCameraContainer{
	display: flex;         
    justify-content: center; 
    align-items: center;          
    position: absolute;    
    top: 1.5%;              
    left: 50%;              
    transform: translateX(-50%); 
}
#selectBodyToFocus{
	width: min-content;
}
#buttonSubContent{
	opacity: 0;
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    
    display: flex;
    flex-direction: column;  
    align-items: stretch;  
    
    width: 200px;           
    max-height: 100px;    
    overflow-y: auto;  
    
    background: #222;  
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    
    transition: opacity 0.3s;
}
#selectBodyToFocus:hover + #buttonSubContent,
#buttonSubContent:hover {
  opacity: 1;
  pointer-events: auto;
}


#buttonSubContent a span {
	 margin: 2px 0;
    display: block;
    width: 100%;
    text-align: left;
    margin: 2px 0;
}

 #spaceTimeWarning {
  text-align: center;
  color: #b6b6b6;
  width: 100%;
  left:25%;
  white-space: normal; 
  word-wrap: break-word;
}

#controlButtonContainer{
	position:absolute;
	bottom: 2%;
}
.tutorial-container {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 400px;
            z-index: 100;
        }
